
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 1300px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
}
.center {
    text-align:center;
    width: 300px;
    height: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px auto;
}

.image img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin:0;

}
p { 
    font-size: 16px;
}
